<%- include('includes/header.ejs') %>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('includes/sidebar.ejs') %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include('includes/topbar.ejs') %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- First Paragraph -->
              <div class="card">
                <div class="card-header">
                  <h5 class="text-primary font-weight-bold">
                    Open Speil
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-auto" id="p1">
                      <p>Welcome to Ace Advantage! I am Siri your Customer Service Representative. How may I help you today?</p>
                    </div>
                    <div class="col-auto">
                      <button id="b1" class="btn btn-primary text-white"><i class="fas fa-copy"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <div class="card">
                <div class="card-header">
                  <h5 class="text-primary font-weight-bold">
                    Closing Speil
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-auto" id="p2">
                      <p>Thank you for contacting Ace Advantage chat support. Feel free to contact us anytime for other concerns. Have a great day. </p>
                    </div>
                    <div class="col-auto">
                      <button id="b2" class="btn btn-primary text-white"><i class="fas fa-copy"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <!-- Second Paragraph -->
              <div class="card">
                <div class="card-header">
                  <h5 class="text-primary font-weight-bold">
                    Waiting Speil
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-lg-10" id="p3">
                      <p>We apologize but all our customer service are engaged at this moment. We will be back to you shortly. thank you for your patience.</p>
                      <p>Sorry about the wait! All of our Customer service representative are helping others right now. If you don’t mind waiting for just a couple of minutes, we’ll reach back out as soon as possible.</p>
                      <p>Thank you for waiting! I’m here now, sorry about that wait.</p>
                    </div>
                    <div class="col-auto">
                      <button id="b3" class="btn btn-primary text-white"><i class="fas fa-copy"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <!-- Third Paragraph -->
              <div class="card">
                <div class="card-header">
                  <h5 class="text-primary font-weight-bold">
                    Probing Speil
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-lg-10" id="p4">
                      <p>Before we proceed, please provide the following:</p>
                      <p>1. Username:</p>
                      <p>2. User ID #:</p>
                      <p>3. Club Name:</p>

                      <p>(Once provided)</p>
                      <p>Thank you, let me just verify your account, one moment please.</p>

                      <p>Please wait, we are now processing your request.</p>
                    </div>
                    <div class="col-auto">
                      <button id="b4" class="btn btn-primary text-white"><i class="fas fa-copy"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <!-- Fourth Paragraph -->
              <div class="card">
                <div class="card-header">
                  <h5 class="text-primary font-weight-bold">
                    ADDRESSING ISSUES:
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-lg-10" id="p5">
                      <p>(For general information query)</p>
                      <p>I understand, please give me a moment to get that information for you.</p>

                      <p>(If issue is quick to resolve)</p>
                      <p>I fully understand your issue, let me look into it and fix it for you.</p>

                      <p>(If issue is complex to resolve)</p>
                      <p>We apologize for the inconvenience, please let me check now on how we can resolve your issue the soonest. Hold on please.</p>

                      <p>(If issue is complex to resolve and requires escalation)</p>
                      <p>We deeply apologize resolving this is taking long, as this issue is unique. I have escalated the issue to our technical team to expedite the resolution. Kindly hold on and thank you for your patience.</p>

                      <p>-Suggesting transfer:</p>
                      <p>Due to the complexity of your issue, I may not be able to solve it at my level. However, I will transfer you to our Tier 2 support to resolve it the soonest. May I proceed with the transfer?</p>

                      <p>(YES)</p>
                      <p>Please wait while I transfer you.</p>

                      <p>(NO)</p>
                      <p>I understand and we apologize this issue remains unresolved, feel free to contact us again for your concerns. Thank you and have a nice day.</p>

                      <p>Please bear with us while we're working on it at the same time waiting for our League response. Thank you</p>


                      <p>ANSWER IF NOT OUR CLUB MEMBER</p>
                      <p>Regarding your concern, you may ask your club boss/owner.</p>



                      <p>ACEADVANTAGE INQUIRY</p>
                      <p>https://www.ace-advantage.com/?fbclid=IwAR0orgzb0Ouf_cYIeX6VKGv8nalcXD70x02GVmMgJY4_1oi7NsuO_9KEJ2I</p>
                    </div>
                    <div class="col-auto">
                      <button id="b5" class="btn btn-primary text-white"><i class="fas fa-copy"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <!-- Fifth Paragraph -->
              <div class="card">
                <div class="card-header">
                  <h5 class="text-primary font-weight-bold">
                    PLAYER REGISTRATION:
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-lg-10" id="p6">
                      <p>To register for Mil Poker, please follow the steps below:</p>

                      <p>1. Open the official website of Mil Poker at http://www.milpoker.com.</p>
                      <p>2. Find the link to download the APP on the website and choose to download the Apple or Android version of the APP according to your device.</p>
                      <p>3. After downloading and installing the APP, open it.</p>
                      <p>4. On the registration page of the APP, enter your username, password, invitation code and other registration information.</p>
                      <p>5. Click on the register button to complete the registration process.</p>
                      <p>6. After successful registration, you can add a club and enter a club ID, or bind your email.</p>
                      <p>7. You can recharge games and withdraw cash through your bound email.</p>

                      <p>After completing these steps, you have now successfully registered a Mil Poker account. Now you can log in to the APP and start enjoying poker games! If you encounter any problems during registration or need further assistance, please feel free to contact our customer service team. Have fun playing!</p>

                      <p>Milpoker (https://www.milpoker.com/)</p>
                      <p>MIL POKER</p>
                      <p>MilPoker ios and android download.How to join Milpoker club?Play squid poker in Milpoker.Milpoker-Enjoy poker Enjoy life.Milpoker ios download,Milpoker android download.</p>

                      <p>You can contact us thru our Telegram customer service: </p>
                      <p>http://t.me/AAadvantage</p>
                      <p>Thank you.</p>

                    </div>
                    <div class="col-auto">
                      <button id="b6" class="btn btn-primary text-white"><i class="fas fa-copy"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <!-- Sixth Paragraph -->
              <div class="card">
                <div class="card-header">
                  <h5 class="text-primary font-weight-bold">
                    CLUB AND AGENT INQUIRY:
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-lg-10" id="p7">
                      <p>For Club:</p>
                      <p>You can withdraw 100 above, if its less than 100 you cannot withdraw. </p>

                      <p>For Club Owners:</p>
                      <p>-The club needs to meet 10 members.</p>
                      <p>-The minimum deposit amount of the club is 5,000 php.</p>
                      <p>- You can withdraw 1000 above, if its less than 1000 you cannot withdraw.</p>
                      <p>-If there are more than 10 active member, we will upgrade your club for free. (limited time only)</p>

                    </div>
                    <div class="col-auto">
                      <button id="b7" class="btn btn-primary text-white"><i class="fas fa-copy"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <!-- Seventh Paragraph -->
              <div class="card">
                <div class="card-header">
                  <h5 class="text-primary font-weight-bold">
                    CLUB CREATION PROCESS:
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-lg-10" id="p8">
                      <p>1. Begin by downloading the official website at http://www.milpoker.com.</p>
                      <p>2. Register an account on the website.</p>
                      <p>3. Click the "+" button under the "Clubs" section to apply for a club.</p>
                      <p>4. Use the League ID: 1002.</p>
                      <p>5. The rake will be 3%, capped at 3 big blinds (BB).</p>
                      <p>6. Club owners can receive 90% of the service fees generated from each game and 50% of the insurance fees paid by players as profits. (Note: The club needs to deposit a minimum of 5000 as collateral to be able to provide insurance. Otherwise, insurance services will not be available.)</p>
                      <p>7. Access the back-end website at club.milpoker.com/index.html.</p>

                    </div>
                    <div class="col-auto">
                      <button id="b8" class="btn btn-primary text-white"><i class="fas fa-copy"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <!-- Seventh Paragraph -->
              <div class="card">
                <div class="card-header">
                  <h5 class="text-primary font-weight-bold">
                    AGENT (STREAMER):
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-lg-10" id="p9">
                      <p>-To make a player an agent, please follow the steps below:</p>
                      <p>1. First, make sure that the applicant has bound their email.</p>
                      <p>2. Open the backend management page.(Club Owner)</p>
                      <p>3. Click on the member list and find the player ID you want to set as an agent.</p>
                      <p>4. Click on the details button of that player ID.</p>
                      <p>5. In the details page, find the option to set up an agent.</p>
                      <p>6. Click on setting up an agent and confirm the operation.</p>

                      <p>After completing the above steps, this player will successfully become an agent. They will get corresponding agency rights and privileges. If you need further help or have any questions, feel free to contact us. Enjoy your game!</p>

                    </div>
                    <div class="col-auto">
                      <button id="b9" class="btn btn-primary text-white"><i class="fas fa-copy"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <!-- Eigth Paragraph -->
              <div class="card">
                <div class="card-header">
                  <h5 class="text-primary font-weight-bold">
                    RANK AGENT:
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-lg-10" id="p10">
                      <p>-Our default commission is 70%, but it will not be paid by the system. You need to pay it manually.</p>

                      <p>So to put it simply, how much you want to give.. is up to you. . . . .</p>

                      <p>CLUBOWNER INFO</p>

                      <p>Please provide the following info:</p>
                      <p>1.Mobile Number :</p>
                      <p>2.Email Address :</p>
                      <p>3.Facebook :</p>
                      <p>4.Club Name :</p>
                      <p>5.Club I.D :</p>
                      <p>So we can contact you in time if you have any problems in the future.</p>

                      <p>If you have any questions, you can ask us in this group in the future, and we can solve them conveniently. .</p>

                      <p>MIn. Buy in for VIP table</p>
                      <p>100/200 28k-108k</p>
                      <p>500/1000 140k-540k Thank you and have a great day!</p>

                    </div>
                    <div class="col-auto">
                      <button id="b10" class="btn btn-primary text-white"><i class="fas fa-copy"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <!-- Ninth Paragraph -->
              <div class="card">
                <div class="card-header">
                  <h5 class="text-primary font-weight-bold">
                    STEPS FOR CASH IN - (make sure we recieve the money first before we cash-in)
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-lg-10" id="p11">
                      <p>Here are the Steps on how to Cash In</p>
                      <p>Fill up this FORM: Cash-In</p>
                      <p>-Club ID :</p>
                      <p>-User ID :</p>
                      <p>-User Name :</p>
                      <p>-GCash Payment 09761645848</p>
                      <p>-GCash NameElvin Charles B.</p>
                      <p>-Screenshot of Payment.</p>

                      <p>M-Chips sent, please check your balance. Thank you.</p>

                      <p>Here are the Steps on how to Cash out</p>

                      <p>For cashouts, please send the following:</p>
                      <p>-Player ID:</p>
                      <p>-Screenshot of User Profile :</p>
                      <p>-Screenshot of M-chips :</p>
                      <p>-GCash number :</p>
                      <p>-GCash Name :</p>
                      <p>-Amount :</p>

                      <p>Cash out has been processed, please verify. Thank you.</p>


                    </div>
                    <div class="col-auto">
                      <button id="b11" class="btn btn-primary text-white"><i class="fas fa-copy"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <!-- Ninth Paragraph -->
              <div class="card">
                <div class="card-header">
                  <h5 class="text-primary font-weight-bold">
                    AFTER SENDING :
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-lg-10" id="p12">
                      <p>We already sent it, please check your balance. Thank you.</p>

                      <p>FOR THE CLUB OWNER REQUESTING FOR CASH- IN</p>

                      <p>Go to Cashier and look for (M-Coin Exchange) Then click the SUPPLEMENT and put your requesting amount for cash-in in your club fund and wait for the ALLIANCE approval.</p>
                      <p>-CLUB I'D number :</p>
                      <p>-CLUB NAME :</p>
                      <p>-Gcash number - 09312160069</p>
                      <p>-Gcash name - Menchie Alegarbes</p>
                      <p>-Send your Screenshot of payment.</p>

                    </div>
                    <div class="col-auto">
                      <button id="b12" class="btn btn-primary text-white"><i class="fas fa-copy"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <!-- Tenth Paragraph -->
              <div class="card">
                <div class="card-header">
                  <h5 class="text-primary font-weight-bold">
                    FOR THE CLUB OWNER REQUESTING FOR CASH-OUT
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-lg-10" id="p13">
                      <p>Go to Cashier and look for (M-coin Exchange) Then click the SETTLEMENT and put your requesting amount to be withdrawn then wait for the LEAGUE approval .</p>
                    </div>
                    <div class="col-auto">
                      <button id="b13" class="btn btn-primary text-white"><i class="fas fa-copy"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <!-- Eleventh Paragraph -->
              <div class="card">
                <div class="card-header">
                  <h5 class="text-primary font-weight-bold">
                    CLUB OWNER ASKING FOR MEMBERS CASH-IN and CASH OUT
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-lg-10" id="p14">
                      <p>(The club owner will handle the cash in and cash out of their players.)</p>

                    </div>
                    <div class="col-auto">
                      <button id="b14" class="btn btn-primary text-white"><i class="fas fa-copy"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <!-- Twelveth Paragraph -->
              <div class="card">
                <div class="card-header">
                  <h5 class="text-primary font-weight-bold">
                    CASH-IN
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-lg-10" id="p15">
                      <p>Go to Cashier and look for (M-Coin Exchange) then click (allocate)</p>
                      <p>A popup box will appear, then enter the amount of your PLAYER requesting for cashing in.</p>
                    </div>
                    <div class="col-auto">
                      <button id="b15" class="btn btn-primary text-white"><i class="fas fa-copy"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <!-- Thirteenth Paragraph -->
              <div class="card">
                <div class="card-header">
                  <h5 class="text-primary font-weight-bold">
                    CASHOUT
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-lg-10" id="p16">
                      <p>Go to Cashier and look for (M-Coin Exchange) then click (Retrieve)</p>
                      <p>A popup box will appear, then enter the amount of your PLAYER requesting for cashout. click retrieve and the player fund will go to your club owner panel fund.</p>
                    </div>
                    <div class="col-auto">
                      <button id="b16" class="btn btn-primary text-white"><i class="fas fa-copy"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
        <!-- end of content -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Ace Advantage</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <%- include('includes/logout_modal.ejs') %>
  <%- include('includes/footer.ejs') %>